{
	"extends": ["airbnb"],
	"env":
	{
		"es6": true, 
		"jest": true,
		"browser": true
	},
	"parser": "babel-eslint",
	"rules":
	{
		"indent": ["error", "tab"],
		"no-tabs": "off",
		"brace-style": ["error", "allman"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-filename-extension": "off",
		"react/jsx-indent-props": ["error", "tab"],
		"function-paren-newline": "off"
	}
}
